
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    transition: all 0.2s;
    height: 80px;
}

.navbar-scrolled{
   
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar-brand h3{
    color:#D2042D ;
    padding-left: 5px;
    
}

.navbar button{
    padding: 4px;
    background-color: yellow;
    font-family:'poppins' ;
    
}

.carousel-inner img{
    object-fit: cover;
    padding-bottom: 5px;
    height: 100vh;
    width: 100%;
    display: block;
    margin: 0 auto;
   
}
